html {
    position: relative;
    min-height: 100%;

}

.mobile-nav {
    display: none;
}



footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;




}

.bg-custom-footer {
    background-color: #072d44;




}



@media screen and (max-width: 600px) {
    .bg-custom-footer {
        display: none;

    }

    #section1 {
        display: none;
    }

    .card-section {
        display: none;
    }



    .mobile-nav {
        background-color: #32383b;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;





    }

    .mobile-nav a {
        color: white;
        text-decoration: none;
        box-sizing: border-box;
    }

    .logo {


        width: 25px;
        /* Nouvelle largeur (ajustez à votre besoin) */
        height: auto;

    }
}