* {
    font-family: 'Marianne';
}

.first-container {
    overflow: auto;
    padding-top: 50px;
    background-color: rgb(83, 71, 55);
    color: #fefffe;







    /* Important pour que le conteneur englobe les éléments flottants */
}

.container-middle {
    overflow: auto;
    padding-top: 40px;
    background-color: rgb(46, 123, 52);
    color: #fefffe;






    /* Important pour que le conteneur englobe les éléments flottants */
}

.right-image {
    float: right;
    /* Faire flotter l'image à droite */
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid #0e910a;
    /* Coins arrondis */

    /* Ombre portée */


}



.left-image {
    float: left;
    margin-right: 15px;
    border-radius: 30px;
    border: 1px solid #0e910a;

}



.container-bottom {
    margin-bottom: 100px;
    background-color: antiquewhite;
    color: black;
}



@media (max-width: 740px) {
    h1 {
        font-size: 1em;
        /* Taille de police réduite pour les petits écrans */
    }

    p {
        font-size: 0.5em;
        /* Taille de police légèrement réduite pour les petits écrans */
    }

    img {
        width: 100px;
        height: auto;
    }

    .container-bottom {
        margin-bottom: 50px;
    }
}

.conteneur-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Trois colonnes de largeur égale */
    gap: 10px;
    margin-top: 50px;



    /* Espace entre les colonnes */
}

.colonne {
    background-color: #fefffe;
    padding: 20px;
    border: 1px solid #0e910a;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

img {
    float: right;
}

h1 {
    margin-left: 50px;
}

p {
    margin-left: 20px;
}