.container {
    overflow: auto;
    padding-top: 40px;


    /* Important pour que le conteneur englobe les éléments flottants */
}

.right-image {
    float: right;
    /* Faire flotter l'image à droite */
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 50px;
    /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Ombre portée */


}



.left-image {
    float: left;
    margin-right: 15px;

}



.container-bottom {
    margin-bottom: 150px;
}



@media (max-width: 740px) {
    h1 {
        font-size: 1em;
        /* Taille de police réduite pour les petits écrans */
    }

    p {
        font-size: 0.5em;
        /* Taille de police légèrement réduite pour les petits écrans */
    }

    img {
        width: 100px;
        height: auto;
    }

    .container-bottom {
        margin-bottom: 50px;
    }
}