.hero-scene {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0a6638;
        background-size: cover;

    }

    * {
        position: relative;
    }

    .hero-scene-content {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

h1 {
    color: #ddd;
}

.recherche-multicriteres {
    display: flex;
    align-items: center;

    /* Aligner verticalement les éléments */
    border: 3px solid #100d3fb7;
    display: flex;
    /* Bordure pour l'unité */
    border-radius: 30px;
    /* Bords arrondis */
    padding: 15px;
    background-color: rgb(255, 255, 255);

}

.recherche-multicriteres label {
    margin-right: 5px;
}

.recherche-multicriteres input[type="text"],
.recherche-multicriteres input[type="date"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.recherche-multicriteres button {
    padding: 10px 15px;
    background-color: #fafafa;
    color: rgb(11, 11, 11);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}



button svg {
    width: 24px;
    /* Ajustez la largeur de l'icône */
    height: 24px;
    /* Ajustez la hauteur de l'icône */
    fill: rgb(2, 2, 2);
    /* Couleur de remplissage de l'icône */
}

@media (max-width: 932px) {
    h1 {
        font-size: 0.5em;
        /* Taille de police réduite pour les petits écrans */
    }

    p {
        font-size: 0.5em;
        /* Taille de police légèrement réduite pour les petits écrans */
    }

    .recherche-multicriteres input {
        flex-direction: column;
        width: 100%;
    }

    .recherche-multicriteres {
        flex-direction: column;
        ;
    }

    .icon {
        display: none;
    }
}